<html>
<head>

	<title>Exit Page</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
</head>
<body>
	<div class="row" style="margin-top: 10%; font-size: 20px; color: #9932CC " align="center">
	Exited from User-Agent&nbsp{{end}}.
</div>
</body>
</html>