<html>
<head>

	<title>Home Page</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
	Please enter a valid GitHub username for User-Agent header.
	<form action="/redis" method="get">
	<input type="text" name="ua" />
	<input type="submit" value="Submit">
    </form>
</body>
</html>