<html>
<head>

	<title>Home Page</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
</head>
<body>
	<div class="row" style="margin-top: 10%; font-size: 20px; color: #9932CC " align="center">
	Please enter a GitHub username for User-Agent header.
	<form action="/redis" method="get">
	<input type="text" name="ua"  style="width: 50%"/>
	<input type="submit" class="btn btn-default" value="Submit" style="color: pink">
    </form>
</div>
</body>
</html>